block config

doctype html
html(lang=__.lang, class="no-js")
    head
        block head
            include head
            link(rel="preconnect" href="https://fonts.gstatic.com")
    body.body(class=bodyClass)
        include mixins/svgsprite
        
        include mixins/article-item
        include mixins/articles-slider
        include mixins/bk
        include mixins/cat-item
        include mixins/products-slider
        
        block header
            include blocks/header
            include blocks/r-menu
        
        .content(class=contentClass)
            block content
        
        block footer
            include blocks/footer
        
        .hidden
            if !isAuth
                include popups/login
                include popups/lost
                include popups/register
            
        .popup-menu.js-header__popup-menu-target(data-target="city")
            ul.popup-menu__list
                li.popup-menu__item._selected
                    a(href="#").popup-menu__link Москва
                li.popup-menu__item
                    a(href="#").popup-menu__link Санкт-Петербург
                li.popup-menu__item
                    a(href="#").popup-menu__link Нижний Новгород
                li.popup-menu__item
                    a(href="#").popup-menu__link Петропавловск-Камчатский
        
        .popup-menu.js-header__popup-menu-target(data-target="user")
            ul.popup-menu__list
                if isAuth
                    li.popup-menu__item._selected
                        a(href="profile.html").popup-menu__link 
                            i.icon-user
                            | Мой профиль
                        a(href="profile-edit.html" title="Редактировать профиль").popup-menu__link-tune
                            i.icon-tune._bg
                    li.popup-menu__item
                        a(href="orders.html").popup-menu__link 
                            i.icon-orders
                            | Мои заказы
                    li.popup-menu__item
                        a(href="#").popup-menu__link 
                            i.icon-logout
                            | Выйти
                else
                    li.popup-menu__item
                        a(href="#" data-fancybox data-src="#login").popup-menu__link 
                            i.icon-login
                            | Войти
                    li.popup-menu__item
                        a(href="#" data-fancybox data-src="#register").popup-menu__link 
                            i.icon-user
                            | Регистрация
        
        block styles
            link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet")
            link(rel='stylesheet', href='assets/css/common.css?v=' + PACKAGE.version)
        block scripts-config
            script.
                /* изменяемые настройки скриптов, указаны значения по умолчанию */
                var appConfig = {
                    /*
                    scrollToOffset: 150, // оффсет при скролле до элемента
                    scrollToSpeed: 500, // скорость скролла 
                    mainSliderDelay: 5000, // время показа одного слайда в главном сдайдере
                    */
                }
        block scripts
            include scripts
