.feats.swiper-container.js-feats-slider
    .feats__inner.swiper-wrapper
        .feats-item.swiper-slide
            .r-icon
                i.icon-delivery
            .feats-item__content Доставка
                span.feats-item__content__muted Во все регионы РФ
        .feats-item.swiper-slide
            .r-icon
                i.icon-warranty
            .feats-item__content Гарантия
                span.feats-item__content__muted От производителя
        .feats-item.swiper-slide
            .r-icon
                i.icon-discount
            .feats-item__content Скидки
                span.feats-item__content__muted Покупки с выгодой
        .feats-item.swiper-slide
            .r-icon
                i.icon-service
            .feats-item__content Сервис
                span.feats-item__content__muted Ремонт и обслуживание
