.mobile-menu
    a(href="index.html").mobile-menu__link
        i.icon-home
        | Главная
    button.mobile-menu__link.js-header__r-menu-toggler
        i.icon-catalog
        | Каталог
    a(href="cart.html").mobile-menu__link
        i.icon-header-cart
            span.mobile-menu__link__counter 3
        | Корзина
    if isAuth
        button.mobile-menu__link.js-header-mobile-menu-toggler
            i.icon-header-user
            | Профиль
    else
        a(href="#" data-fancybox data-src="#login").mobile-menu__link
            i.icon-header-user
            | Войти
    
    if isAuth
        ul.office-aside__menu.js-header-mobile-menu-target
            // _active для активного пункта
            li.office-aside__menu__item._active
                a(href="profile.html").office-aside__menu__link
                    i.icon-user
                    | Мой профиль
                a(href="profile-edit.html" title="Редактировать профиль").office-aside__menu__link-tune
                    i.icon-tune._bg
            li.office-aside__menu__item
                a(href="orders.html").office-aside__menu__link
                    i.icon-orders
                    | Мои заказы
            li.office-aside__menu__item
                a(href="orders.html").office-aside__menu__link
                    i.icon-logout
                    | Выйти
