.order-questions Если у вас возникли вопросы относительно заказа или нашей работы, пожалуйста позвоните или напишите нам:
    .order-questions__contacts
        span.link-icon
            i.icon-mobile
            a(href="#").link-border +7 (495) 677–95–24
        span.link-icon
            i.icon-email
            a(href="#").link-border info@rutok.ru
        