.pagination
    span.pagination__total Показано 24 из 186
    ul.pagination__list
        li.pagination__list__item
            a(href="#").pagination__list__link._disabled._prev Предыдущая
        li.pagination__list__item
            a(href="#").pagination__list__link 1
        li.pagination__list__item …
        li.pagination__list__item
            a(href="#").pagination__list__link 6
        li.pagination__list__item._active
            a(href="#").pagination__list__link._active 7
        li.pagination__list__item
            a(href="#").pagination__list__link 8
        li.pagination__list__item …
        li.pagination__list__item
            a(href="#").pagination__list__link 99
        li.pagination__list__item
            a(href="#").pagination__list__link._next Следующая
