h3.block-h Вопрос-ответ

.qa-tab
    .qa-tab__list
        .slide-list
            .slide._active.js-slide
                .slide__header
                    .slide__title
                        .r-icon._gray
                            i.icon-question
                        .slide__title__content
                            span.slide__title__content__muted Вопрос
                            | Можно ли для проверки емкости свинцово-кислотного аккумулятора, разряжать его до напряжения 9В?
                    span.slide__toggler.js-slide__toggler
                .slide__content.js-slide__content
                    .slide__content__inner.rte 
                        p В зависимости от тока разряда, минимальное критическое напряжение на одной ячейки должно составлять 1.6–1.8 В. Минимально рекомендуемое напряжение разряда 1.81–1.83 В на ячейку.
            .slide.js-slide
                .slide__header
                    .slide__title
                        .r-icon._gray
                            i.icon-question
                        .slide__title__content
                            span.slide__title__content__muted Вопрос
                            | Правда ли, что полезнее всего держать заряд аккумулятора от 50 до 80%?
                    span.slide__toggler.js-slide__toggler
                .slide__content.js-slide__content
                    .slide__content__inner.rte 
                        p В зависимости от тока разряда, минимальное критическое напряжение на одной ячейки должно составлять 1.6–1.8 В. Минимально рекомендуемое напряжение разряда 1.81–1.83 В на ячейку.
            .slide.js-slide
                .slide__header
                    .slide__title
                        .r-icon._gray
                            i.icon-question
                        .slide__title__content
                            span.slide__title__content__muted Вопрос
                            | По каким причинам могут разряжаться батареи, работающие в режиме постоянного подзаряда?
                    span.slide__toggler.js-slide__toggler
                .slide__content.js-slide__content
                    .slide__content__inner.rte 
                        p В зависимости от тока разряда, минимальное критическое напряжение на одной ячейки должно составлять 1.6–1.8 В. Минимально рекомендуемое напряжение разряда 1.81–1.83 В на ячейку.
        button.btn._more
            i.icon-dots
            | Показать ещё 3 вопроса
    .qa-tab__summary
        h5.qa-tab__summary__h Не нашли ответ на свой вопрос?
        p.qa-tab__summary__text Задайте вопрос и получите развернутый ответ от наших специалистов.
        a(href="javascript:;" data-fancybox data-src="#question").btn._block
            i.icon-review
            | Задать вопрос
