h3.block-h Характеристики
.product-tth-tab
    .product-brand
        img.lazyload.product-brand__logo(data-src="assets/img/products/logo.png" src="assets/img/dot.png" alt="NexSys")
        .product-brand__grid
            .product-brand__item
                span.product-brand__item__muted Бренд:
                span.product-brand__item__inner «NexSys»
                a(href="#").more
                    span.more__inner Перейти в каталог производителя
            .product-brand__item
                span.product-brand__item__muted Страна производитель:
                span.product-brand__item__inner Германия
            .product-brand__item
                span.product-brand__item__muted Гарантия завода:
                span.product-brand__item__inner 12 месяцев
    dl.product-tth._lg._bg
        dt Тип 
        dd Тяговый аккумулятор
        dt Напряжение
        dd 12В
        dt Емкость
        dd 137 Ач
        dt Габариты
        dd 455 x 172 x 238 мм 
        dt Залив дистиллированной воды
            i.icon-help(data-tippy-content="Внутренняя среда аккумулятора постоянно изменяется. Аккумуляторной жидкости свойственно испаряться.")
        dd не требуется
        dt Ресурс циклов
        dd 1200
        dt Технология
        dd AGM
        dt Тип АКБ
        dd Необслуживаемая
        dt Глубина разряда
        dd 60%
        dt Вес
        dd 47,6 киллограмм
