.avatar {
    $root: &;

    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;

    &._md,
    &._lg {
        width: 56px;
        height: 56px;
    }

    &._lg {
        @include media-breakpoint-up(md) {
            width: 64px;
            height: 64px;
        }
    }
}
