.cat {
    $root: &;

    &-list {
        margin-top: 24px;
        margin-bottom: 32px;
        display: grid;
        gap: 16px;

        @media (min-width: 510px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-breakpoint-up(md) {
            grid-template-columns: repeat(3, 1fr);
            gap: 16px 30px;
        }

        @include media-breakpoint-up(lg) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &-header {
        margin-top: 24px;
        margin-bottom: 24px;

        @include media-breakpoint-up(md) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .pagination {
            margin-left: auto;

            @include media-breakpoint-down(md) {
                display: none;
            }
        }
    }

    &-footer {
        margin-top: 32px;

        @include media-breakpoint-up(md) {
            margin-top: 48px;
        }
    }
}
