.popup-menu {
    $root: &;

    display: none;
    position: absolute;
    z-index: 100;
    width: 230px;
    transform: translateX(-100%);
    background: $color-white;
    border: 1px solid $input-border-color;
    box-shadow: 0px 17px 109px rgba(0, 0, 0, 0.03), 0px 10.7533px 45.5376px rgba(0, 0, 0, 0.0215656), 0px 8.47426px 24.3466px rgba(0, 0, 0, 0.0178832), 0px 6.9797px 13.6485px rgba(0, 0, 0, 0.015), 0px 5.68438px 7.24861px rgba(0, 0, 0, 0.0121168), 0px 4.10263px 3.01631px rgba(0, 0, 0, 0.00843437);
    border-radius: 12px;
    padding: 6px;

    &__list {
        display: grid;
        gap: 2px;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: $border-radius;
        @include transition(background-color);
        color: rgba($color-text, .5);

        &:not(._selected) {
            @include hover-desktop {
                background: rgba(#E2E9ED, .6);
            }
        }

        &._selected {
            color: $color-text;

            #{$root}__link {
                pointer-events: none;
            }
        }
    }

    &__link {
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        padding: 11px 16px;
        min-height: 38px;
        color: inherit;

        [class^=icon] {
            font-size: 14px;
            color: #85898D;
            margin-right: 8px;

            &:before {
                margin: 0;
            }
        }

        &-tune {
            color: #85898D;
            margin-right: 10px;
        }

    }

}
