mixin doc()
    a(href="#").doc
        i.icon-doc.doc__icon
        .doc__footer
            p.doc__h=attributes.title
            p.doc__attr=attributes.attr
        span.more
            span.more__inner Скачать
