#article.popup._article
    .article-popup
        span.tag Полезные статьи
        h3.article-popup__h Принципиальные отличия свинцово–кислотных батарей
        picture.article__lead-picture
            source(type="image/webp" media="(min-width:768px)" data-srcset="assets/img/articles/lead-md.webp" srcset="assets/img/dot.webp")
            source(type="image/webp" data-srcset="assets/img/articles/lead-sm.webp" srcset="assets/img/dot.webp")
            source(type="image/jpeg" media="(min-width:768px)" data-srcset="assets/img/articles/lead-md.jpg" srcset="assets/img/dot.jpg")
            source(type="image/jpeg" data-srcset="assets/img/articles/lead-sm.jpg" srcset="assets/img/dot.jpg")
            img.lazyload(data-src="assets/img/articles/lead-md.jpg" src="assets/img/dot.jpg" alt="alt text")
        .rte
            p Область применения свинцово-кислотных аккумуляторных батарей весьма широка: на улице мы используем их для <strong>запуска двигателя</strong> автомобиля, дома — для поддержания сети в источнике бесперебойного питания, на даче — для поддержания работоспособности котла, на детской площадке — для питания электромобиля. В промышленности дела обстоят примерно так же, только габариты аккумулятора побольше. 
            p Критерии, которые и определяют «название» аккумулятора, следующие:
            ul
                li импульсная мощность разряда
                li постоянная мощность разряда
                li ресурс в циклах заряда / разряда
            p Объединяет свинцово-кислотные аккумуляторы одно — электрохимия. Они все работают по одному принципу, однако имеют разницу в технологии изготовления как электродов, так и элементов аккумулятора. Давайте посмотрим на них с точки зрения решаемых ими задач.
            p Запуск двигателя внутреннего сгорания у автомобиля — от аккумулятора требуется короткий импульс тока для прокрутки стартера. Лучше, чтобы аккумулятор был необслуживаемый и мог хорошо работать при отрицательной температуре.
