extends _includes/layout

block config
    - var pagetitle = 'Статья'
    - var bodyClass = ''

block content
    .block.container
        +bk(['Главная', 'Статьи', 'Как выбрать зарядное устройство для тягового аккумулятора'])
        h1.page-h Как выбрать зарядное устройство для тягового аккумулятора
        
        .article
            .article__info
                a(href="#" title="Все статьи с тегом «Зарядные устройства»").tag Зарядные устройства
                span Добавлено: 
                    span.text-nowrap 18 сентября 2020
            picture.article__lead-picture
                source(type="image/webp" media="(min-width:768px)" data-srcset="assets/img/articles/lead-md.webp" srcset="assets/img/dot.webp")
                source(type="image/webp" data-srcset="assets/img/articles/lead-sm.webp" srcset="assets/img/dot.webp")
                source(type="image/jpeg" media="(min-width:768px)" data-srcset="assets/img/articles/lead-md.jpg" srcset="assets/img/dot.jpg")
                source(type="image/jpeg" data-srcset="assets/img/articles/lead-sm.jpg" srcset="assets/img/dot.jpg")
                img.lazyload(data-src="assets/img/articles/lead-md.jpg" src="assets/img/dot.jpg" alt="alt text")
            .article__row
                .article__content
                    // data-summary сформирует содержание статьи
                    // default: data-summary="h3" data-summary-title="Содержание статьи:" data-summary-target=".article__aside"
                    .rte(data-summary)
                        p <strong>Тяговые аккумуляторные батареи</strong> (АКБ) комплектуются из аккумуляторных элементов, количество которых зависит от требуемого номинального напряжения на всей АКБ. Номинальное напряжение одного аккумуляторного элемента составляет <strong>2В</strong>.
                        p Зарядное устройство с ручной регулировкой выходного напряжения используется, если имеется небольшое количество батарей или не часто их приходится заряжать. Если же приходится заряжать много аккумуляторных батарей, то желательно приобрести автоматические зарядные устройства. Автоматические ЗУ облегчат зарядку Ваших АКБ и продлят срок их эксплуатации. Автоматические зарядные устройства обеспечивают несколько стадий заряда АКБ, обычно это <strong>2…3 стадии</strong>.
                        p По условиям эксплуатации зарядные устройства можно условно разделить на три группы:
                        ul
                            li Зарядные устройства (выпрямители) с ручной регулировкой напряжения
                            li Автоматические зарядные устройства (автоматические ЗУ)
                            li Профессиональные зарядные устройства
                        p Чтобы тяговая батарея служила долго и без сбоев, важно не только правильно её хранить и обслуживать, но и подобрать для подзарядки подходящее зарядное устройство.
                        h3 Типы зарядных устройств для тяговых АКБ
                        p Официальной классификации ЗУ для тяговых аккумуляторов не существует, но можно все зарядные устройства разделить на две большие подгруппы:
                        h4 Трансформаторные ЗУ
                        p Этот вид устройств для подзарядки является традиционным — в том плане, что используется очень давно. Состоит такой прибор из трансформатора и выпрямителя, которые преобразуют ток из <strong>220В</strong> в наиболее приемлемые для аккумулятора <strong>12 — 14В</strong>. Трансформаторные зарядные дают на батарею постоянный ток, напряжение которого меняется в зависимости от степени заряженности батареи.
                        p Достоинством данного зарядного устройства является его <strong>низкая цена</strong>. Из недостатков — большие размеры и потребность постоянно следить за процессом подзарядки.
                        blockquote Для определённого типа батареи нужно подбирать подходящее ЗУ. Если приобрести устройство с неверными параметрами, можно испортить дорогостоящую тяговую АКБ, но и подвергнуть опасности сотрудников, ответственных за работу техники.
                        h4 Импульсные ЗУ
                        p В отличие от трансформаторного, импульсное зарядное устройство имеет <strong>небольшой вес</strong> и компактные размеры, потому что состоит из менее громоздких элементов. Импульсный зарядник подаёт на батарею ток малыми импульсами, а не постоянный — это позволяет заряжать АКБ без лишней нагрузки на пластины.
                        p Минусом импульсных ЗУ является <strong>высокая стоимость</strong>. Этот недостаток полностью перекрывается существенными преимуществами — небольшой вес, мобильность, зарядка аккумулятора в автоматическом режиме.
                        p
                            img(src="assets/img/articles/rte.jpg" alt="Зарядные устройства")
                        h3 Как правильно выбрать зарядное устройство
                        p Если штатное ЗУ выходит из строя или планируется замена аккумуляторных батарей на другой тип (например, кислотные АКБ решили заменить на Li-ion аккумуляторы), возникает необходимость в подборе
                            | 
                            | 
                            a(href="#") нового зарядного устройства
                            | .
                        p Необходимо знать, для какого типа тяговой батареи нужно зарядное устройство — обслуживаемая или необслуживаемая АКБ, какой электролит в ней используется и в каких условиях и с какой интенсивностью приходится работать.
                        p Чем мощнее зарядное устройство, тем <strong>быстрее</strong> будет происходить заряд батареи, но необходимо учесть рекомендации производителя относительно того, за какие временные пределы не должна выходить скорость подзарядки. Слишком быстрая подзарядка может значительно <strong>снизить количество рабочих циклов</strong> аккумулятора.
                        h3 Правильная эксплуатация зарядного устройства
                        p Практически каждое ЗУ было разработано с учётом того, какой тип батареи оно будет обслуживать, поэтому <strong>не следует</strong> подключать аккумулятор, не соответствующий рекомендациям для данного зарядного устройства.
                        p При зарядке АКБ (кроме необслуживаемых) необходимо учитывать, что в воздух производится выброс <strong>ядовитых и взрывоопасных веществ</strong>, поэтому в помещении с зарядным устройством должна быть хорошая вентиляция и все средства пожаротушения и оповещения о ЧС.
                        p Если ЗУ не оборудовано автоматическим регулятором зарядки, следует вести наблюдение за процессом заряда батареи во избежание перегрева АКБ, вскипания и возгорания электролита.
                        ol
                            li Зарядные устройства (выпрямители) с ручной регулировкой напряжения
                            li Автоматические зарядные устройства (автоматические ЗУ)
                            li Профессиональные зарядные устройства
                        p Необходимо знать, для какого типа тяговой батареи нужно зарядное устройство — обслуживаемая или необслуживаемая АКБ, какой электролит в ней используется и в каких условиях и с какой интенсивностью приходится работать.
                        p Чем мощнее зарядное устройство, тем <strong>быстрее</strong> будет происходить заряд батареи, но необходимо учесть рекомендации производителя относительно того, за какие временные пределы не должна выходить скорость подзарядки. Слишком быстрая подзарядка может значительно <strong>снизить количество рабочих циклов</strong> аккумулятора.
                    
                    .tags-list
                        span.tags-list__title Теги:
                        span.tags-list__items
                            a(href="#" title="Все статьи с тегом «тяговый аккумулятор»").tags-list__item тяговый аккумулятор
                            a(href="#" title="Все статьи с тегом «зарядное устройство»").tags-list__item зарядное устройство
                            a(href="#" title="Все статьи с тегом «АКБ»").tags-list__item АКБ
                
                .article__aside
                    //-.article-summary
                        .article-summary__h Содержание статьи:
                        .article-summary__list
                            a(href="#").more._lg 
                                span.more__inner 1. Типы зарядных устройств для тяговых АКБ
                            a(href="#").more._lg 
                                span.more__inner 2. Как правильно выбрать ЗУ
                            a(href="#").more._lg 
                                span.more__inner 3. Правильная эксплуатация ЗУ
                    
    +articles-slider('Смотрите также')
