mixin about-accent()
    .about-accent
        span.about-accent__muted более
        span.about-accent__title
            span.about-accent__title__num=attributes.num
            | 
            =attributes.decl
        span.about-accent__text=attributes.text
