.body {
    background: $color-bg;
    color: $color-text;

    font-family: $font-family;
    font-size: $font-size;
    letter-spacing: $letter-spacing;
    line-height: $line-height;

    &._frozen {
        overflow: hidden;
        height: 100%;
    }

}

.container {
    @include make-container();
}

@media (max-width: 360px) {
    .container {
        padding: 0 map-get($container-paddings, sm);
    }
}

@if $enable-grid-classes {
    .row {
        @include make-row();

        >* {
            @include make-col-ready();
        }
    }

    @include make-grid-columns();
}

.hidden {
    display: none !important;

    @each $key in (md, lg, xl) {
        &-#{$key} {
            @include media-breakpoint-up($key) {
                display: none !important;
            }
        }
    }
}

.visible {

    @each $key in (md, lg, xl) {
        &-#{$key} {
            display: none !important;

            @include media-breakpoint-up($key) {
                display: initial !important;
            }
        }
    }
}

.flex-col {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    >* {
        width: 100%;
    }
}

.text {
    &-nowrap {
        white-space: nowrap;
    }

    &-muted {
        color: rgba($color-text, .5);
    }

    &-uppercase {
        text-transform: uppercase;
    }
}

.color-primary {
    color: $color-primary !important;
}

.color-secondary {
    color: $color-secondary !important;
}

strong {
    font-weight: bold;
}

::placeholder {
    color: rgba($color-text, .4);
}

:focus::placeholder {
    opacity: 1;
}

.necessaty_fields {
    display: none !important;
}

.overflow-hidden {
    overflow: hidden;
}

.md-full {
    margin-left: - map-get($container-paddings, sm);
    margin-right: - map-get($container-paddings, sm);
    padding-left: map-get($container-paddings, sm);
    padding-right: map-get($container-paddings, sm);

    @include media-breakpoint-up(md) {
        margin-left: - map-get($container-paddings, md);
        margin-right: - map-get($container-paddings, md);
        padding-left: map-get($container-paddings, md);
        padding-right: map-get($container-paddings, md);
    }

    @include media-breakpoint-up(lg) {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

.ios-fixed {
    @include media-breakpoint-down(sm) {
        position: fixed;
        overflow: hidden;
        height: 100%;
        width: 100%;
    }
}

.lazyload {
    visibility: hidden;
}

.fancybox-navigation {
    position: static;
}

[class^=icon] {
    &._bg {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(#E3EAEE, .8);
        color: inherit;
        font-size: 14px;
        border-radius: 7px;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }
    &._md {
        width: 32px;
        height: 32px;
        font-size: 16px;
    }
}
