#lost.popup
    form.popup-form
        h3.popup-form__h Восстановить доступ
        p.popup-form__lead Введите e-mail указанный при регистрации на который придет пароль
        .popup-form__grid
            .input._addon.js-label
                input(type="email" value="login@rutok.ru")
                label E-mail
                span.input__addon
                    i.icon-email
            button.btn._block Отправить
