#question.popup
    form.popup-form
        h3.popup-form__h Задать вопрос
        p.popup-form__lead Задайте интересующий вас вопрос, а мы оперативно ответим на него
        .popup-form__grid
            .input._addon.js-label
                input(type="email")
                label E-mail
                span.input__addon
                    i.icon-email
            .input._addon.js-label
                input(type="tel")
                label Телефон
                span.input__addon
                    i.icon-phone
            .input.js-label
                textarea
                label Вопрос
            button.btn._block Задать вопрос
